html, body{
  margin: 0;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #333;
  /* ===== HỌC VỀ BACKGROUND CLIP ================ */
  padding: 20px;
  box-sizing: border-box;     /*thêm vào cho khỏi rộng chiều ngang do thêm thuộc tính padding 20px*/
  border: 10px dashed #fff;

  /* Thuộc tính background clip quyết định việc background được đổ từ ranh giới nào "ranh giới có: border, padding, content"*/
  
  /* Mặc định là border-box: được đổ background từ border vào  */
  /* background-clip: border-box;     */

  /* Nếu là padding-box: thì sẽ được đổ background từ padding vào */
  background-clip: padding-box;

  /* Nếu là content-box thì background nó sẽ được đổ từ content vào */
  background-clip: content-box;

}